<p>Dear {{ customerName }},</p>

<p>
    The booking {{ date }} has been cancelled by {{ artistName }}. The standard cancellation policy applies within 7 days prior to event.
</p>

<p>
    With best regards,<br />
    Artist NextDoor<br />
    Hope to see you soon again
</p>