<p>Dear {{ artistName }},</p>

<p>
    You have got a booking request from {{ customerName }}.<br />
    Please respond it within 3 hours, if the event date is 30 days or shorter. If the event date is more than 30 days from the booking request date, you have up to 12 hours to accept or reject it. You can use “confirm” or “cancel” button in your booking history.
</p>
<p>
    Remember to check that User has all the necessary equipment for your performance before accepting the booking.
</p>
<p>
    The standard cancellation policy applies within 90 days prior to event <a target="_blank" href="{{ absolute_url(path('terms_and_conditions')) }}#billing_anchor">{{ absolute_url(path('terms_and_conditions')) }}#billing_anchor</a>.
</p>
<p>
    Please note:<br />
    You cannot cancel a confirmed booking. In case of force majeure, you may use the "cancel" button in the booking history. You have to give an immediate notice to the User and Platform by email and / or by telephone. If you’ve canceled the booking, the reservation of money including all fees will be refunded to the User.
</p>
<p>
    With more than 2 cancellations in a row, and after further consideration, you can be excluded from the Artist NextDoor platform.
</p>
<p>
    With best regards,<br />
    Artist NextDoor
</p>