<p>Dear {{ customerName }},</p>

<p>
    The booking for the {{ date }} is confirmed. The standard cancellation policy applies within 90 days prior to event
    <a target="_blank" href="{{ absolute_url(path('terms_and_conditions')) }}#billing_anchor">{{ absolute_url(path('terms_and_conditions')) }}#billing_anchor</a>.
</p>

<p>
    With best regards,<br />
    Artist NextDoor
</p>