<p>Dear {{ customerName }},</p>

<p>
    {{ artistName }} could not confirm your request for {{ date }}. Please request other dates, contact Artist directly or find other artists near you.
</p>

<p>
    With best regards,<br />
    Artist NextDoor<br />
    Hope to see you soon again
</p>