<p>Dear {{ targetName }},</p>

<p>
    You have got a message from {{ senderName }}..<br />
    Please respond the request in shortly and preferably within 3 hours.
</p>

<p>
    With best regards,<br />
    Artist NextDoor
</p>