<p>Dear {{ customerName }},</p>

<p>
    The booking with {{ artistName }} on {{ date }} is automatically rejected due to no response on booking request.
</p>

<p>
    With best regards,<br />
    Artist NextDoor
</p>