<p>Dear {{ customerName }},</p>

<p>
    Please, fill your card balance to make payment {{ price / 100 }}nok for the booking with {{ artistName }} on {{ date }}.<br />
    If in 48 hours your card balance will still be not enough the booking will be cancelled.
</p>

<p>
    With best regards,<br />
    Artist NextDoor
</p>