<p>Dear {{ artistName }},</p>

<p>
    Let us kindly remind you about the event with {{ customerName }} on {{ date }}.<br />
    Do your best!
</p>

<p>
    With best regards,<br />
    Artist NextDoor
</p>