<p>Dear {{ customerName }},</p>

<p>
    A payment pre-authorization to your card is successful. It will become a charge on the event day on {{ date | format('Y-m-d') }} 23:50:00.
</p>

<p>
    With best regards,<br />
    Artist NextDoor
</p>