<p>Dear {{ customerName }},</p>

<p>
    You have recently completed your event and we hope you were pleased with {{ artistName }}.<br />
    Are there any issues, we should know about? If you have any issues, please, report within 72 hours on this email.
</p>

<p>
    With best regards,<br />
    Artist NextDoor<br />
    Hope to see you soon again
</p>