<p>Hi Olga,</p>

<p>
    You can see the statistics of all users (new on top) in the two files attached.
</p>

<p>
    Please, do not reply, this message is automatic.
</p>

<p>
    With best regards,<br />
    Artist NextDoor
</p>