<div class="modal fade" id="feedback-sent" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="{{ asset('images/error.png') }}" alt="">
                </a>
            </div>

            <div class="modal-body">
                <img src="{{ asset('images/icons/green/ok_hover.svg') }}" alt="">
                <div class="title">{{ 'feedback.message.sent' | trans }}</div>
                <button type="button" class="btn-signup close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>