{{ 'login.email.not.verified'|trans|raw}}
<a href="#" id="resend-verification" data-email="{{ email }}" class="resend-verification-link text-red font-weight-bold">{{ 'login.email.not.verified.link'|trans|raw }}</a>