{% extends '@App/base.html.twig' %}

{% block content %}
    <section class="general-box no-background policy">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <p><b><u>Personvernerklæring:</u></b></p>

                    <p><b>Artistnextdoor AS</b></p>

                    <p>Informasjon om hvordan vi behandler personopplysningene dine, og om vår Personvernerklæring.</p>

                    <p><b>1. Om ArtistNextdoor</b></p>
                    <p>
                        Artistnextdoor AS (ArtistNextdoor) er et norsk selskap registrert i Brønnøysundregistrene med organisasjonsnummer NO 921 214 995 MVA. Selskapet tilbyr formidlingstjenester innen det globale kulturfeltet. ArtistNextdoor er en kommunikasjonsplattform og en digital markedsplass. Platformen etablerer kontakt og formidler tredje parts underholdningstjenester på det private eventsmarkedet. Platformen i første omgang er tilpasset norske brukere og har sitt virke i Norge. Etter hvert skal virkeområde være internasjonal. I tillegg til å formidle underholdningstjenester hjelper vi våre brukere til å betale og ta betalt gjennom tredje part betalingsløsning(er). Uavhengig av om du har foretatt en bestilling, kan du velge å registrere en profil hos oss.
                    </p>
                    <p>
                        Du finner mer informasjon i brukervilkårene for ArtistNextdoor ved å klikke <a target="_blank" href="{{ path('terms_and_conditions') }}">Brukervilkår for platformen (Terms of use of the platform)</a>.
                    </p>
                    <p>
                        Når du bruker platformen vår eller de andre digitale tjenestene våre, samler vi inn, bruker og behandler personopplysninger. Denne personvernerklæring vil gjelde i situasjoner der Artistnextdoor AS (heretter «ArtistNextdoor», «vi», «oss» og «vår») behandler personopplysninger som er hentet inn fra platformen. Ved å bruke platformen vår samtykker du i at dine personopplysninger behandles i henhold til disse retningslinjene.
                    </p>

                    <p><b>2. Hva er personopplysninger?</b></p>
                    <p>
                        Personopplysninger er enhver informasjon relatert til en identifisert eller identifiserbar fysisk person; en identifiserbar, fysisk person er en person som kan identifiseres, direkte eller indirekte, særlig ved referanse til en identifikator slik som navn, personnummer, stedsinformasjon, en elektronisk identifikator eller en eller flere faktorer som er spesifikke for den fysiske, fysiologiske, genetiske, mentale, økonomiske, kulturelle eller sosiale identiteten til den fysiske personen.
                    </p>
                    <p>
                        I denne personvernerklæringen forklarer vi hvordan vi behandler personopplysninger, hva slags personopplysninger disse behandlingsaktivitetene innebærer samt hvilket formål og grunnlag disse aktivitetene har. Vi forklarer også når og hvorfor personopplysninger utleveres til en tredjepart.
                    </p>
                    <p>
                        Vi informerer deg også om de rettighetene du har i forbindelse med behandling og eventuell overføring av dine personopplysninger.
                    </p>

                    <p><b>3. Generell erklæring om virkeområdet for denne personvernerklæringen</b></p>

                    <p>
                        Denne personvernerklæringen gjelder vår innsamling, bruk og behandling av personopplysninger. Vi samler inn, bruker og behandler personopplysninger når du bruker våre tjenester som kunde eller potensiell kunde hos oss. Med kunde mener vi både Artist og Bruker (Arrangør). Dette omfatter når du bruker platformen eller andre digitale tjenestene våre, selger eller kjøper kunstneriske tjenester enten selv eller gjennom tredjeparter (f.eks. eventsbyrå eller andre arrangører), eller når du kommuniserer med oss via, e-post, sosiale medier eller lignende.
                    </p>
                    <p>
                        ArtistNextdoor er såkalt «behandlingsansvarlig» for behandling av dine personopplysninger etter denne personvernerklæringen. Det betyr at ArtistNextdoor er ansvarlig for å definere formålene med behandlingen av personopplysninger og dessuten for å overholde personvernlovgivningen. Du finner vår adresse og kontaktinformasjon nederst i denne personvernerklæringen.
                    </p>
                    <p>
                        Grunnlaget for behandling av personopplysninger som beskrevet i dette dokumentet er din godkjenning av vilkårene for å registrere profilen din, din godkjenning av våre brukervilkår når du bestiller/selger via oss, og våre berettigede interesser i å drive og administrere virksomheten vår, eller dersom det er nødvendig for å oppfylle våre lovfestede forpliktelser.
                    </p>
                    <p>
                        Du vil kunne administrere samtykkene dine til denne behandlingen når du registrerer profilen din hos oss, eller når som helst senere ved å klikke på innstillinger i brukerkontoen din. Merk at hvis du kaller tilbake eventuelt samtykke, påvirker ikke det lovligheten av behandling som har funnet sted basert på et samtykke som ble gitt før du kalte det tilbake.
                    </p>

                    <p><b>4. ArtistNextdoors behandling av personopplysninger</b></p>
                    <p><b>4.1 Registrering av profil og administrasjon av konto</b></p>
                    <p>
                        Du er velkommen til å registrere en profilen hos ArtistNextdoor. Dette vil forbedre og forenkle bestillingsopplevelsen din og gjøre det mulig for oss å gi deg mer relevant informasjon på nettsiden og i andre kanaler. Du kan også bestemme hvordan du vil at vi skal kommunisere med deg. Dette setter oss også i stand til å gi deg mer relevant informasjon på nettsiden og i andre kanaler. For disse formålene vil vi samle inn dine personopplysninger som e-postadresse, kjønn eller mobilnummer og annen informasjon vi kan be deg om, men som du står fritt til å gi oss. Du får deretter en personlig tilpasset brukerkonto på platformen vår som du kan gå inn på via datamaskinen eller enhetene dine. Du kan når som helst administrere og/eller slette din personlige konto ved å logge deg inn med e-post og passord.
                    </p>
                    <p>
                        Personopplysningene dine vil bli slettet hvis du anmoder oss om det. Du kan anmode om å få slettet opplysninger fra platformen ved å kontakte vår kundeservise. Kontaktinformasjon finner du på siste side i dette dokumentet.
                    </p>
                    <p>
                        Imidlertid gjør vi deg oppmerksom på at vi oppbevarer personopplysningene dine kun så lenge dette er nødvendig for at vi skal kunne oppfylle våre kontraktsmessige forpliktelser, samt i henhold til lovbestemt oppbevaringstid.
                    </p>

                    <p><b>4.2 Bestilling av kunstneriske (Artist) tjenester</b></p>
                    <p>
                        Når du bestiller <b>kunstneriske (Artist) tjenester</b> på platformen ArtistNextdoor, blir du bedt om å gi informasjon som navn, telefonnummer, e-postadresse, betalingsopplysninger hvis du har en registrert profil hos oss.
                    </p>
                    <p>
                        Når du endrer bestillingen eller ber om annen service fra oss, vil vi behandle ovennevnte personopplysninger som vi har samlet inn fra deg. Dette omfatter å sende deg påminnelser på e-post om bestillingen din, f.eks. informasjon om endringer, og varsling om eventuelle uforutsette hendelser hvis artist er forsinket eller eventen blir kansellert. Når du bestiller tjenesten gjennom oss, omfatter det vanligvis tjenester fra tredjeparter, og vi vil gi navn og annen relevant informasjon til slike tredjeparter. Formålet med disse behandlingsaktivitetene er å gi deg de tjenestene du har bestilt av oss.
                    </p>
                    <p>
                        Du må også oppgi betalingsopplysninger (f.eks. kortnummer og utløpsdato) i tillegg til andre personopplysninger for å fullføre betalingen. Disse opplysningene, særlig navn, adresse, e-postadresse og IP-adresse, vil bli utlevert til våre betalingstjenesteleverandører for å motta betaling og fullføre bestillingen. Hvis du ber om å få refundert betalingen, blir disse opplysningene også behandlet.
                    </p>
                    <p>
                        For å oppfylle våre lovfestede forpliktelser kan vi utlevere opplysninger til for eksempel din kortutsteder eller politiet. For dette formålet kan opplysningene vi behandler, omfatte navn, adresse, e-postadresse, IP-adresse, betalingsopplysninger og passopplysninger/førerkortopplysninger.
                    </p>
                    <p>
                        Informasjonen du har gitt for å foreta bestilling og administrere bestillingen, lagres i inntil ti år til vi ikke lenger trenger den for å beskytte og forsvare ArtistNextdoor.
                    </p>

                    <p><b>4.3 Formål med behandling av personopplysninger:</b></p>
                    <p><b>Gi deg en mer personlig tjeneste</b></p>
                    <p>
                        ArtistNextdoor ønsker å gjøre tjenesten og informasjonen vår mer personlig tilpasset og brukervennlig. Informasjonen du oppgir hjelper oss med å møte dine individuelle behov på en bedre måte. For å gjøre dette bruker vi opplysninger om hvordan du benytter våre digitale tjenester (nett, e-post. app, osv.), og knytter dette sammen med andre opplysninger vi har om deg for å finne ut hvilken informasjon du helst ønsker å motta, hvordan du vil at vi skal kommunisere med deg, gjennom hvilke kanaler, og hvor ofte, osv.
                    </p>
                    <p>
                        Når du starter en ny bestilling, kan vi avhengig av dine tidligere bestillinger forhåndsutfylle det aktuelle bestillingsskjemaet med informasjon som er samlet inn fra tidligere bestillingsprosesser. Dette omfatter for eksempel artistens virkeområde du har søkt etter eller bestilt fra og navn og kontaktinformasjon. Formålet med denne behandlingen er å forenkle bestillingsprosessen, slik at du sparer tid. Du kan velge bort personlig tilpasning gjennom kontosiden din og ved å slå av innstillingen «Automatisk bruk av data». Dette vil stoppe vår profilering / personlige tilpasning av opplysninger og vi vil slette opplysninger som er nødvendige for denne behandlingen.
                    </p>
                    <p><b>Forbedre og optimalisere nettstedet vårt</b></p>
                    <p>
                        Vi arbeider kontinuerlig med å forbedre nettstedets tilbud basert på din informasjon og dine synspunkter.
                    </p>
                    <p>
                        For å opprettholde vårt tjenestenivå kan vi utføre datatesting vedrørende nettstedet vårt når det oppstår en feil, eller når det gjøres endringer i systemet vårt og dette inkluderer behandling av personopplysninger. Dette gjør det mulig å eliminere tekniske feil i våre systemer, vise på riktig måte eventuelle endringer fra din eller vår side som er viktige for deg og sikre at nettstedet fungerer tilfredsstillende.
                    </p>
                    <p><b>Forbedre kundeservicen vår</b></p>
                    <p>
                        Informasjonen du oppgir hjelper oss med å gi deg en mer effektiv kundeservice og kundestøtte. ArtistNextdoor tilbyr kundestøtte for å hjelpe deg. For at vi skal kunne gi deg kundestøtte, vil vi behandle personopplysninger for å identifisere deg og hjelpe deg så godt vi kan. På platformen vår vil du kunne starte en chat, eller du kan også kontakte oss via e-post, sosiale medier, sosiale medier chat. Når du kommuniserer med oss på en av disse måtene, vil vi hjelpe deg med henvendelser, spørsmål eller tilbakemeldinger om tjenestene våre.
                    </p>
                    <p>
                        Hvis vi oppdager uregelmessige aktiviteter på kontoen din, vil vi treffe nødvendig tiltak. Dette kan omfatte behandling av personopplysninger.
                    </p>
                    <p>
                        Vi oppbevarer personopplysningene dine kun så lenge dette er nødvendig for at vi skal kunne oppfylle våre kontraktsmessige forpliktelser, samt i henhold til lovbestemt oppbevaringstid.
                    </p>

                    <p><b>4.4 Markedsføring</b></p>
                    <p>
                        Vi ønsker å hjelpe deg til å få mest mulig ut av tjenestene våre. Derfor vil vi sende deg eller på andre måter gjøre deg oppmerksom på diverse tilbud og aktiviteter via e-post, for eksempel i form av nyhetsbrev, e-markedsføringsbrev, unike tilbud basert på dine preferanser eller informasjon om andre særlige eller sesongavhengige tilbud. For dette formålet vil vi behandle din e-postadresse, bestillingshistorikk og kampanjedeltakelseshistorikk.
                    </p>
                    <p>
                        Vi kan også sende deg tilbud knyttet til dine framtidig bestillinger via e-post. For dette formålet vil vi behandle din e-postadresse og bestillingshistorikk. Dessuten vil vi også minne deg via e-post på eventuell ufullført bestilling og gi deg enkel tilgang til denne. For dette formålet vil vi behandle din e-postadresse og nettatferdsdataene vedrørende din ufullførte bestilling.
                    </p>
                    <p>
                        Artist Nextdoor forsøker å være så relevant som mulig for hver kunde gjennom forskjellige digitale kanaler. Hvis du har besøkt platformen vår, kan vi gi deg relevante tilbud via andre digitale medier basert på din nettadferd. Anonymisert IP i informasjonskapsler vil bli behandlet for dette formålet. Når du besøker nettstedet vårt uten å logge deg inn på brukerkontoen din, vil vi bruke din nettatferd til å gi deg relevante tilbud gjennom våre Internett-portaler, e-postkampanjer og andre digital medier. Når du har logget deg inn på brukerkontoen din, bruker vi opplysningene du har registrert hos oss, herunder bestillings- og kampanjedeltakelseshistorikk, nettatferd og andre opplysninger for å prøve å kommunisere så relevant som mulig med deg.
                    </p>
                    <p>
                        For å forbedre vår kommunikasjon med deg utfører vi markedsanalyse, noe som kan gjennomføres ved å koble sammen forskjellige datasett som kan inneholde personopplysninger. Personopplysninger i analytiske datasett vil alltid bli slettet etter analysen er gjennomført.
                    </p>
                    <p>
                        Du kan slette personopplysninger som brukes til markedsføring ved å slette profilen din på kontosiden. Når det gjelder anonyme brukerinformasjonskapsler, er ikke de henførbare til en spesifikk person, men vil ikke desto mindre bli slettet ifølge bransjepraksis, eller av deg selv – se avsnitt 6 i denne personvernerklæringen.
                    </p>

                    <p><b>5. Hvorfor personopplysninger utleveres av ArtistNextdoor</b></p>
                    <p>
                        Vi selger ikke personopplysninger for markedsføringsformål til andre selskaper. Vi kan bare dele dine personopplysninger i følgende tilfeller:
                    </p>
                    <ul>
                        <li><p>med tredjeparter, alle bestillingen av kunstneriske tjenester omfatter tjenester som leveres av en tredjepart;</p></li>
                        <li><p>med tredjepartstjenesteleverandørene våre, som utfører oppgaver eller arbeid på våre vegne og etter våre instrukser som databehandlere, for de formålene som er angitt i denne personvernerklæringen;</p></li>
                        <li><p>for å beskytte og forsvare ArtistNextdoor (herunder håndheve gjeldende brukervilkår); eller</p></li>
                        <li><p>med offentlige myndigheter eller etater når det er påkrevd i henhold til lovgivning, rettsavgjørelse eller rettskraftig vedtak fra myndighetene.</p></li>
                    </ul>
                    <p>
                        Vi kan også dele aggregerte data med våre forretningspartnere for forskjellige formål, f.eks. for å forbedre vår tjeneste eller for systemadministrasjon, statistikk, forskning og analyse.
                    </p>
                    <p>
                        Hvis du ikke ønsker å gi personopplysninger til oss, kan vi kanskje ikke levere den tjenesten du ber om eller informere deg om nyheter og andre produkter og tjenester som vi tilbyr og kommer til å tilby.
                    </p>

                    <p><b>6. Informasjonskapsler og lignende teknologi</b></p>
                    <p>
                        Når du besøker platformen vår, samler vi inn visse opplysninger ved hjelp av informasjonskapsler. Informasjonskapsler er små tekstfiler som lagres på enheten din når du besøker et nettsted. Når du besøker et nettsted for første gang, sendes det en informasjonskapselfil til enheten din. Denne filen identifiserer nettleseren din.
                    </p>
                    <p>
                        Ved å bruke informasjonskapsler hjelper du ArtistNextdoor med å forbedre funksjonaliteten på nettstedet vårt. De er viktige for å redusere nedlastingstiden og forbedre brukeropplevelsen. Informasjonskapselen samler inn informasjon om hvordan besøkende bruker nettstedene våre, og gir oss dermed nyttig informasjon om hvordan vi kan levere en bedre kundeopplevelse og forbedre tjenestene våre.
                    </p>
                    <p>
                        Vi bruker også informasjonskapsler for autentiseringsformål, slik at du ikke trenger å identifisere deg hver gang du besøker nettstedet vårt.
                        <a target="_blank" href="http://www.youronlinechoices.com/">Disse informasjonskapslene</a> er strengt nødvendige for at tjenesten skal fungere tilfredsstillende. Ved å justere de tekniske innstillingene i nettleseren din kan du hindre at informasjonskapsler blir lagret og er tilgjengelige på enheten din. Men merk at hvis du deaktiverer informasjonskapsler, kan du kanskje ikke bruke tjenestene på nettstedet vårt eller de andre digitale tjenestene våre.
                    </p>
                    <p>
                        Hvis innstillingene på mobilenhetene dine lar platformen vår samle inn stedsinformasjon, vil vi samle inn den informasjonen automatisk. Denne personvernerklæringen regulerer hvordan vi bruker denne informasjonen når vi knytter den til personopplysninger.
                    </p>
                    <p>
                        Merk at du kan styre hvordan mobilenheten din kan dele stedsinformasjon med oss, og hvordan nettleseren håndterer informasjonskapsler og relatert teknologi ved å justere personvern- og sikkerhetsinnstillingene på enheten. Se anvisningene fra nettleserleverandøren eller produsenten av enheten din for å lære hvordan du justerer innstillingene.
                    </p>
                    <p>
                        Hvis du ønsker mer informasjon om hvordan atferdsreklame fungerer, kan du se nærmere om informasjonskapsler og tiltak du kan treffe for å ivareta personvernet på Internett på Your Online Choices: http://www.youronlinechoices.com/.
                    </p>

                    <p><b>6. Dine personlig rettigheter</b></p>
                    <p>
                        Du har rett til å be om en rapport på hvilke personopplysninger vi har om deg, ved å be om et såkalt registerekstrakt. Dette kan gjøres gratis én gang i året. Du har også rett til å be om at feil informasjon om deg rettes, og du har i tillegg mulighet til å be om fjerning av dine personopplysninger. Du har rett til å trekke tilbake samtykket ditt til behandling av personopplysninger og til å forby bruk av personopplysningene dine til markedsføring.
                    </p>
                    <p>
                        Kontakt oss gjerne for mer informasjon om hvordan dette gjøres.
                    </p>
                    <p>
                        Du har rett til å sende inn eventuelle klager vedrørende behandlingen av personopplysningene dine til den nasjonale tilsynsmyndigheten.
                    </p>
                    <p>
                        Du kan når som helst slette brukerkontoen din på platformen vår.
                    </p>

                    <p><b>7. Overføring til tredjeland</b></p>
                    <p>
                        Informasjonen vi samler inn når du besøker nettstedet vårt kan lagres, behandles og overføres mellom alle de landene vi driver virksomhet i, for bruk i overensstemmelse med retningslinjene for personvern. ArtistNextdoor vil imidlertid ikke overføre personopplysningene dine til land utenfor det europeiske økonomiske samarbeidsområdet (EØS) uten uttrykkelig å informere deg om overføringen.
                    </p>

                    <p><b>8. Tredjeparters personvernerklæringer</b></p>
                    <p>
                        Denne personvernerklæringen gjelder bare ArtistNextdoors innsamling, bruk og utlevering av personopplysninger. Andre parter vi samarbeider med, og andre nettsteder som kan være tilgjengelige gjennom denne platformen, har egne personvernerklæringer og egen praksis. Vi oppfordrer deg til å bli kjent med personvernerklæringene til alle tredjeparter før du gir dem informasjon eller benytter deg av et tilbud eller en kampanje. Selv om vi prøver å samarbeide bare med tredjeparter som deler våre høye standarder og vår respekt for personvernet, er vi på ingen måte ansvarlig for innholdet eller personvernpraksisen hos andre tredjeparter.
                    </p>

                    <p><b>9. Endringer i denne erklæringen</b></p>
                    <p>
                        ArtistNextdoor forbeholder seg retten til å oppdatere eller endre disse retningslinjene til enhver tid. Vi vil legge ut en melding på dette nettstedet og/eller informere deg på annen måte når vi gjør vesentlige endringer i denne personvernerklæringen. Vi oppfordrer deg til å besøke nettstedet regelmessig for å oppdatere til nyeste versjon. Hvis du ikke godtar noen av de endrede vilkårene, må du slutte å bruke tjenesten vår og eventuelt slette kontoen din.
                    </p>
                    <p>
                        Sist oppdatert: 17.10.2018
                    </p>

                    <p><b>10. Verneting og gjeldende lovgivning</b></p>
                    <p>
                        Denne personvernerklæringen skal, når annet ikke angis tolkes i samsvar med norsk lovgivning og være underlagt norske domstolers ikke-eksklusive kompetanse.
                    </p>

                    <p><b>11. Kontaktinformasjon</b></p>
                    <p>
                        Dersom du har spørsmål angående disse retningslinjene for personvern eller vår behandling av personopplysninger, eller ønsker å kontakte oss angående dine personopplysninger, ber vi deg ta kontakt på
                        <a href="mailto:artist@your-nextdoor.no">artist@your-nextdoor.no</a>
                    </p>
                    <p>
                        Hvis du føler noe er uavklart, har du også rett til å klage til personvernmyndighetene. Vedkommende personvernmyndighet er Datatilsynet i Norge.
                    </p>
                    <p>
                       <b>Sist oppdatert:</b> 28. oktober, 2018
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}