{% extends '@App/base.html.twig' %}

{% block content %}
    <section class="general-box no-background policy">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <p><div class="title" align="center"><h3>Terms and Conditions</h3></div></p>

                    <p><a href="#term_of_use">Terms of use of the platform</a></p>
                    <p><a href="#sale_cancellation">Conditions for Buy, Sale and Cancellatio</a></p>

                    <p><div class="title" align="center" id="term_of_use"><h4>Brukervilkår for platformen (Terms of use of the platform)</h4></div></p>
                    <p><b><u>1. Generelt</u></b></p>
                    <p>
                        Artist Nextdoor er en kommunikasjonsplattform og en digital markedsplass innen det globale kulturfeltet som er tilgjengelig for alle internett brukere. Artist Nextdoor formidler underholdningstjenester på det private eventsmarkedet.
                    </p>
                    <p>
                        Eieren av denne plattformen er Artistnextdoor AS, et norsk selskap som er registrert i Brønnøysundregisteret med organisasjonsnummer: NO 921 214 995 MVA. Artistnextdoor AS er Alta-basert selskap med adresse: PB 1238, 9504 Alta. Ved å bruke tjenester plattformen formidler, samtykker du i følgende Brukervilkår:
                    </p>

                    <p><b><u>2. Lovlig bruk</u></b></p>
                    <p>
                        Alt materiale, innhold (musikk, video, bilder osv.) og alle tjenester som denne platformen formidler, er våre Artisters åndsverk (eiendom). Det er forbudt å benytte automatiske metoder eller programvare til å samle inn data fra denne platformen til kommersiell bruk. Vi forbeholder oss retten til å utføre de tiltak vi anser som nødvendige ved urettmessig bruk av platformen vår. Slike tiltak kan, uten forvarsel, innebære, men begrenser seg ikke til, at vi nekter deg tilgang til nettstedet vårt eller tar rettslige skritt.
                    </p>

                    <p><b><u>3. Opphavsrett til åndsverk</u></b></p>
                    <p>
                        Alt materiale, innhold og data som legges ut på denne platformen, inkludert, men ikke begrenset til, navn, logoer, videoer, musikk, fotografier, priser osv., i tillegg til nettstedets design og kildekode, er underlagt opphavsrett til åndsverk, varemerkerettigheter, databaserettigheter og/eller andre immaterielle rettigheter. Det er ulovlig å fullstendig eller delvis kopiere, endre, distribuere, bruke eller reprodusere plattformens innhold uten skriftlig forhåndstillatelse fra Artistnextdoor AS og/eller Artistene.
                    </p>

                    <p><b><u>4. Lenker til andre nettsteder</u></b></p>
                    <p>
                        Plattformen Artist Nextdoor kan inneholde lenker eller henvisninger til andre nettsteder, digitale tjenester og sosiale medier. Artistnextdoor AS fraskriver seg alt ansvar for innhold, annonser eller produkter som er tilgjengelige på slike nettsteder, digitale tjenester og sosiale medier. Med mindre noe annet er spesifisert, stiller Artistnextdoor AS seg ikke bak produkter og/eller tjenester som tilbys på slike nettsteder, digitale tjenester og sosiale medier.
                    </p>

                    <p><b><u>5. Ansvarsfraskrivelse</u></b></p>
                    <p>
                        Platformen leveres «som den er». Artistnextdoor AS tar alle rimelige steg for å holde informasjonen på platformen korrekt og oppdatert, og for å opprettholde en rask og pålitelig tjeneste. Artistnextdoor AS kan ikke holdes ansvarlig for tap eller skader som oppstår som følge av bruk av dette nettstedet eller andre nettsteder, digitale tjenester og sosiale medier som er lenket til disse. Artistnextdoor AS kan heller ikke holdes ansvarlig for tap eller skader som oppstår som følge av bruk av informasjon som ligger på dette nettstedet, eller på et nettsted, digitale tjenester og sosiale medier som er lenket til disse.
                    </p>

                    <p><b><u>6. Endring av platfromen</u></b></p>
                    <p>
                        Vi forbeholder oss retten til å utføre forbedringer eller endringer i forhold til informasjon, tjenester, produkter og annet innhold på platformen vår på et hvilket som helst tidspunkt og uten forvarsel.
                    </p>

                    <p><b><u>7. Endring av brukervilkår</u></b></p>
                    <p>
                        Vi forbeholder oss retten til å endre, tilrettelegge, legge til eller fjerne deler av disse Brukervilkårene på et hvilket som helst tidspunkt og uten forvarsel. Dersom du fortsetter å bruke denne platformen, samtykker du i disse endringene av Brukervilkårene.
                    </p>


                    <br/><br>
                    <p><div class="title" align="center" id="sale_cancellation"><h4>BETINGELSER FOR KJØP, SALG OG KANSELLERING<br>Artist NextDoor</h4></div></p>

                    <p><b><u>Generelt:</u></b></p>
                    <p>
                        Disse betingelsene gjelder for kjøp og salg, samt kansellering, av kunstneriske tjenester formidlet på vegne av tredjepart via digitalplattformen Artist NextDoor. Kjøpe/salgs- og kanselleringsbetingelser utgjør sammen med din bestilling, det samlede avtalegrunnlaget for denne tjenesten. Avtalebetingelsene og annen informasjon på Artist NextDoor platformen er tilgjengelig på norsk og engelsk. For å kunne være registrert som bruker på platformen Artist NextDoor eller de andre digitale tjenestene våre må du ha fylt 13 år. For å kunne handle og bestille tjenester via platformen Artist NextDoor må du ha fylt 18 år.                    </p>
                    <p>
                        Kjøp og bestilling reguleres av norsk rett, herunder avtaleloven og e-handelsloven. Alminnelige avtalerettslige regler regulerer forholdet, noe som blant annet innebærer at bruker og selger er pliktige til å overholde avtalen.
                    </p>
                    <p>
                        I tillegg sikres dine personopplysninger gjennom Artist NextDors retningslinjer for personvern og gjeldende lovverk om personvern. Artist NextDoors er også bundet av markedsføringsloven hva gjelder formidling av siden og dets tjenester.
                    </p>

                    <p><b><u>Parter: </u></b></p>
                    <p>
                        <b>Artistnextdoor AS</b>, pb 1238, 9504 Alta, og blir i det følgende benevnt «Artist NextDoor», «platformen», «vi» eller «oss» er en formidler av kunstneriske tjenester via digitale platformer og andre digitale mediakanaler.
                    </p>
                    <p>
                        <b>Bruker</b> er den person som er oppgitt som kjøper i bestillingen, og blir i det følgende benevnt «Bruker», "deg", "din" eller "ditt".
                    </p>
                    <p>
                        <b>Selger</b> er den person som er oppgitt som selger i bestillingen, og blir i det følgende benevnt «Artist».
                    </p>

                    <p><b><u>Definisjoner:</u></b></p>
                    <p>
                        <b>Platformen</b> – digital markedsplass for kjøp og salg av underholdningtjenester for det private eventsmarkedet. Artist NextDoor er global bookingtjeneste, tilgjengelig for alle internettbrukere.
                    </p>
                    <p>
                        <b>Event</b> – Noe som skjer, en organisert anledning som en fest, sport konkurranse eller en spesiell planlagt aktivitet: arrangementet, happning, hendelse, offentlige hendelser, sosiale situasjoner, fritidsaktivitetet. Brukes i en generell måte å snakke om en kombinasjon av ting som skjer og som involverer flere personer.
                    </p>
                    <p>
                        <b>Automatisk bestilling av Artistens tjeneste</b> – booking av Artistens tjenester gjennom platformen.
                    </p>

                    <p><b><u>Priser og tjenestegebyr:</u></b></p>
                    <p><b>Hva er tjenestegebyret på Artist NextDoor?</b></p>
                    <p>
                        For å bidra til å drifte Artist NextDoor plattformen belaster vi et tjenestegebyr på 10% for både artister og brukere når en bestilling er bekreftet og eventen er gjennomført. Gebyret belastes og trekkes automatisk.
                    </p>

                    <p><b><u>Bestilling:</u></b></p>
                    <p>
                        Tjenesten til Artisten kan kun betales med kort. Totalprisen inkluderer alle avgifter inkl. avgifter til betalingstjenesten og provisjon til platformen. Totalprisen vil alltid være tydelig vist på profilen til Artisten. Totalprisen vises i begynnelsen av bestillingsprosessen.
                    </p>
                    <p>
                        Betaling med kort er både trygt og enkelt. Når du er klar til å gjennomføre booking blir du bedt om å taste inn ditt kortnummer, utløpsdatoen og verifiseringskoden (CVV2) som står på baksiden av kortet. Ingen kan se ditt kortnummer på noe tidspunkt gjennom betalingsprosessen. Artist NextDoor lagrer ikke betalingsopplysninger til Bruker på platformen sin (se Artist NextDoors retningslinjer for personvern).
                    </p>
                    <p>
                        Vi samarbeider med Stripe – en anerkjent internasjonal leverandør av betalingsløsninger for netthandel. Nærmere informasjon
                        <a target="_blank" href="https://stripe.com/no">finner du her</a>.
                    </p>

                    <p><b><u>Autorisasjon:</u></b></p>
                    <p>
                        Når du legger inn en bestilling hos oss blir det gjort en autorisasjon på kortet ditt. Det betyr at vi sjekker at kortet er gyldig og at det er dekning for kjøpet. Deretter (7 dager før event) reserverer vi beløpet du handler for. I reservasjonstiden er fremdeles pengene på ditt kort, men de er reservert til Artist NextDoor. Pengene blir først trukket fra ditt kort samme dag som eventen finner sted (kl. 23.00 norsk tid).
                    </p>
                    <p>
                        En booking vil ikke kunne anses som endelig før Artisten har bekreftet den og kortet til Bruker er autorisert av Stripe. Ved behov, gjennomfører systemet 3 forsøk for å autorisere kortet (tidligst 7 dager før event). Dersom autorisasjon av Brukeres kortet, ved f. eks. manglende dekning på kortet, ikke kan foretas, forbeholder vi oss retten til å kansellere bestillingen. Bruker og Artist vil motta informasjon om eventuell kanselering på oppgitt epost.
                    </p>

                    <p><b>MVA</b></p>
                    <p>
                        Kulturelle tjenester (blant annet teater-, opera-, ballett-, sirkusforestillinger og dansetilstelninger med levende musikk), tjenester i form av kunstnerisk fremføring av åndsverk og formidling av slike tjenester er alle unntatt fra merverdiavgiftsloven i Norge. Unntaket fra merverdiavgiftsloven omfatter også tjenester som er en integrert og nødvendig del av denne fremføringen:
                        <a target="_blank" href="https://www.altinn.no/starte-og-drive/skatt-og-avgift/avgift/unntatt-fra-beregning-av-merverdiavgift/">https://www.altinn.no/starte-og-drive/skatt-og-avgift/avgift/unntatt-fra-beregning-av-merverdiavgift/</a> .
                    </p>

                    <p><b><u>Hvorfor å betale og kommunisere direkte gjennom Artist NextDoor?</u></b></p>
                    <p>
                        Betaling og kommunikasjon gjennom Artist NextDoor bidrar til å holde deg beskyttet under våre <b>Betingelser for kjøp, salg og kansellering, Brukervilkår</b> og andre <b>sikkerhetsvilkår</b>. Det gjør det også lettere å finne og referere til viktig informasjon om booking som adresse for opptreden eller event, og annen praktisk informasjon. Hvis bookingen ikke foretas og betales direkte gjennom Artist NextDoor, kan vi ikke gi deg disse fordelene.
                    </p>
                    <p>
                        Betaling eller kommunikasjon utenom Artist NextDoor gjør det også vanskeligere for oss å beskytte opplysningene dine og gir større risiko for svindel eller andre sikkerhetsproblemer som
                        <a target="_blank" href="https://no.wikipedia.org/wiki/Phishing">phishing</a>.
                    </p>

                    <p><b><u>Bestilling/booking prosess:</u></b></p>
                    <p>
                        Din bestilling/booking forespørsel vil bli registrert på plattformen Artist NextDoor. Ved booking forespørsel, vil betalingsopplysninger til Bruker bli registrert hos leverandør til betalingsløsning.  Ved booking forespørsel 7 eller mindre før event vil oppgitte artisthonorar bli reservert på betalingskortet til Bruker umiddelbart etter booking forespørsel ble sendt til Artisten.
                    </p>

                    <p><b>Bekreftelse av booking forespørsel</b></p>
                    <p>
                        Platformen anbefaler Artisten å bekrefte/avvise en booking forespørsel innen 3 timer, hvis event dato er 30 dager eller kortere. Hvis event dato er lengre enn 30 dager fra booking forespørsels dato anbefales det at Artisten bekrefter/avviser booking innen 12 timer.
                    </p>
                    <p>
                        Hvis Artisten bekrefter booking forespørsel (se informasjonen om frister over), Bruker får en e-post med bekreftelse og informasjon om betalingsprosessen og avbestillingsbetingelser.
                    </p>
                    <p>
                        Hvis Artisten bekrefter ikke eller avviser forespørsel om booking innen frister (se informasjonen over), vil platformen slippe bookingen automatisk og Bruker får informasjon om det.
                    </p>
                    <p>
                        Ved booking forespørsel 7 eller mindre dager før event som avvises eller ikke bekreftes av Artisten innen fristen, vil reservasjonen av et beløp opphøre umiddelbart og uten noen kostnader for Bruker.
                    </p>
                    <p>
                        Når Artisten bekrefter booking forespørsel, vil det gjøre vedkommende pliktige til å overholde avtalen.
                    </p>
                    <p>
                        Ved endringer og i de tilfellene Artisten har behov for å sende meldinger/beskjeder til Bruker, er det KUN eposten som er registrert i din Bruker profil som vil bli benyttet. Les nøye gjennom tjenestebeskrivelse til Artisten før booking.
                    </p>

                    <p id="billing_anchor"><b><u>Avbestilling:</u></b></p>
                    <p>
                        Booking av Artistens tjeneste kan tidligst foretas 90 dager før event dato. Bruker kan angre og kansellere bookingen kostnadsfri inntil 29 dager før event. Etterpå gjelder følgende kanselleringsregler:
                    </p>
                    <ul>
                        <li>Kansellering 30-16 dager før event – vil brukeren belastes for 25% av beløpet som var avtalt ved booking;</li>
                        <li>Kansellering 15-8 dager før event – vil brukeren belastes for 50% av beløpet som var avtalt ved booking</li>
                        <li>Kansellering 7 dager eller mindre før event – vil brukeren belastes for 100% av beløpet som var avtalt ved booking</li>
                    </ul>
                    <p>
                        Ved booking av Artistens tjeneste 7 eller mindre dager før event, har Bruker ikke anledning til å benytte sin angrerett etter at booking er foretatt. Av ovennevnte grunn anbefaler vi derfor å inngå dialog med Artisten og sikre detaljer via vår privat chat-tjeneste før booking blir foretatt.
                    </p>
                    <p><b>Endringer av dato</b></p>
                    <p>
                        Ved eventuelle endringer av dato for planlagte event, må dette godkjennes av Artisten. Hvis endringer er godkjent, må den planlagte event kanselleres og det må gjøres en ny booking. Eventuelle endringsgebyr som påløper vil bli belastet Bruker.
                    </p>
                    <p><b>For Artisten</b></p>
                    <p>
                        Artisten kan ikke kansellere bekreftet event senere enn 7 dager før eventen finner sted. Ved uforutsette hendelser – force majeure, kan Artisten benytte «cansell» funksjon in the booking historie og gi en umiddelbar beskjed til Bruker og Platformen på epost. Ved mer enn 2 kanselleringer på rad, og etter nærmere vurdering, kan Artisten utestenges fra platformen til Artist NextDoor. Hvis eventen kanselleres av Artisten vil reservasjonen av penger inkl. alle eventuelle gebyr refunderes til Bruker.
                    </p>

                    <p><b><u>Reklamasjon:</u></b></p>
                    <p>
                        Du har selv ansvar for å sjekke at din bestilling er korrekt i henhold til event dato, tidspunkt og navnet til Artisten. Ved uriktig bruk eller svikt av maskin- og programvare hos Bruker som fører til feil i bestilling, ligger alt ansvar hos Bruker. Artist NextDoor vil ikke påta seg noe erstatningsansvar i slike tilfeller.
                    </p>
                    <p>
                        Om en Event blir avbestilt av Artisten og/eller at Artisten ikke møter opp til avtalt tidspunkt uten å gi beskjed om det, kan du alltid kreve refundert det beløpet som var reservert/belastet på ditt kort. Ved no-show må kravet fremmes skriftlig på epost til Artist NextDoor seinest innen 72 timer fra det tidspunktet eventen skulle finne sted.
                    </p>

                    <p><b>Tvister</b></p>
                    <p>
                        Partene skal forsøke å løse eventuelle tvister i minnelighet. Dersom dette ikke lykkes kan du bringe saken inn for Forbrukerrådet i nærheten av der du bor.
                    </p>

                    <p><b>Websiden og publikasjoner</b></p>
                    <p>
                        Artist NextDoor tilstreber om å gi våre kunder så korrekt informasjon om våre produkter som mulig. Vi tar imidlertid forbehold om skrive- og trykkfeil, noe som kan innebære at vi ikke kan levere i henhold til informasjon gitt av oss gjennom våre salgstilbud, markedsføring eller på annen måte.
                    </p>
                    <p>
                        Ved å bruke eller besøke denne siden aksepterer du våre vilkår for bruk. Artist Nextdoor forbeholder seg retten til å endre disse vilkårene i henhold til gjeldende regelverk. Hvis du trenger hjelp, kan du ta kontakt med Kundeservice på email
                        <a href="mailto:artist@your-nextdoor.no">artist@your-nextdoor.no</a>. Vi prøver å besvare alle henvendelser innen 12 timer.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}