// color
$white-red-color: #ec2552;
$dark-blue-grey-color: #1d2c4d;
$color-light-gray: #a1a1a1;
$color-white-gray: #f1f1f1;
$color-white: #ffffff;
$color-blue-gray: #dbdbdb;
$color-dark-red: #dc3545;
$color-transparent: transparent;

// text
$font-roboto: 'Roboto', sans-serif;
$letter-spacing-03: 0.3px;
$letter-spacing-04: 0.4px;
$letter-spacing-05: 0.5px;
$letter-spacing-06: 0.6px;
$letter-spacing-07: 0.7px;
